<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Campaigner</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Campaigner List Upload 2</h1>
  <form autocomplete="off" id="campaigner-form">
    <div>
      <input type="checkbox" id="582045" name="List2" value="OOP" />
      <label for="582045">582045 Office of the President</label><br />
      <input type="checkbox" id="582645" name="List3" value="DEV" />
      <label for="582645">582645 Development Office</label><br />
      <input type="checkbox" id="578195" name="List4" value="Coms" />
      <label for="578195">578195 Communications Directorate (Internal/Gazette)</label><br />
      <input type="checkbox" id="582065" name="List4" value="Coms" />
      <label for="582065">582065 Communications Directorate (External)</label><br />
      <input type="checkbox" id="588235" name="List5" value="Alumni" />
      <label for="588235">588235 Alumni Relations (General)</label><br />
      <input type="checkbox" id="588260" name="List6" value="AROs" />
      <label for="588260">588260 Alumni Relations (AROs)</label><br />
      <input type="checkbox" id="588280" name="List7" value="HR" />
      <label for="588280">588280 Human Resources</label><br />
      <input type="checkbox" id="746765" name="List8" value="VR" />
      <label for="746765">746765 VR Recherche</label><br />
      <input type="checkbox" id="760138" name="List9" value="HRModern" />
      <label for="760138">760138 HR Modernisation</label><br />
      <input type="checkbox" id="772710" name="List10" value="Ceremonies" />
      <label for="772710">772710 Ceremonies &amp; Events</label><br />
      <input type="checkbox" id="776515" name="List11" value="Leadership" />
      <label for="776515">776515 Leadership académique</label><br />
      <input type="checkbox" id="777832" name="List12" value="uOsurveys" />
      <label for="777832">777832 uOsondages-uOsurveys</label><br /><br />
    </div>
    <label for="name">List Name:</label>
    <input type="text" id="name" name="name" /><br />
    <label for="fileUpload">Upload Excel Files:</label>
    <input type="file" id="fileUpload" accept=".xlsx" multiple /><br />
	<strong>Excel file must contain a column with a header named "Email"</strong><br />
    <label for="itemnumber" id="itemnumber"></label><br />
    <button type="submit" id="submitButton">Submit</button>
    <div id="progressBarContainer">
      <div id="progressBar"></div>
    </div>
  </form>
  <p>Waiting</p>
  <p class="waiting"></p>
  <p>Uploading Email<p>
  <p class="upload-status-email"></p>
  <p>Add Emails to List<p>
  <p class="upload-status-name"></p>
  <p>Create List<p>
  <p class="upload-status-data"></p>
    <script
      src="https://cdn.jsdelivr.net/npm/xlsx@0.16.8/dist/xlsx.full.min.js"
      integrity="sha256-Ic7HP804IrYks4vUqX1trFF1Nr33RjONeJESZnYxsOY="
      crossorigin="anonymous"
    ></script>
  <script type="text/javascript" >
    const uploadName = document.querySelector('.upload-status-name')
    const uploadEmail = document.querySelector('.upload-status-email')
    const uploadData = document.querySelector('.upload-status-data')
    const waitingmessage = document.querySelector('.waiting')
    const listOfEmails = []
    const form = document.getElementById('campaigner-form')
    const fileUpload = document.getElementById('fileUpload')

    function splitLargeArray(data) {
      if (data.length <= 1000) {
        return [data]
      }
      const subArrays = []
      let remaining = data
      while (remaining.length) {
        const chunk = remaining.slice(0, 1000)
        subArrays.push(chunk)
        remaining = remaining.slice(1000)
      }
      return subArrays
    }

    async function getData(accountid) {
      const listname = document.getElementById('name').value
      const myHeaders = new Headers()
      myHeaders.append('Content-Type', 'application/json')
      const raw = JSON.stringify({
        Name: listname,
        Accountid: accountid,
      })
      const requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow',
      }
      try {
        const response = await fetch(
          'https://campaignerapilists.onrender.com/get-lists',
          requestOptions
        )
        const result = await response.text()
        const list = JSON.parse(result).ListID
        const concat = `${result}`.split(',')
		const mycounter = 0;
        console.log(result)
        uploadData.innerHTML = `List Uploaded: ${concat[1]}`
		
        /*splitLargeArray(listOfEmails).forEach((element) => {
          uploadEmails(element, list, accountid);
        })
        splitLargeArray(listOfEmails).forEach((element) => {
          getEmails(element, list, accountid);
        })*/
		for (const element of splitLargeArray(listOfEmails)) {
		  uploadEmails(element, list, accountid)
		}

		// Then get all emails
		for (const element of splitLargeArray(listOfEmails)) {
		  getEmails(element, list, accountid)
		}
		
      } catch (error) {
        console.error(error)
      }
    }

    async function getEmails(emailsList, listid, accountno) {
      const myHeaders = new Headers()
      myHeaders.append('Content-Type', 'application/json')
      const raw = JSON.stringify({
        emailsList,
        listid,
        accountno,
      })
      const requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow',
      }
      try {
        const response = await fetch(
          'https://campaignerapilists.onrender.com/get-emails',
          requestOptions
        )
        const result = await response.text()
        console.log(result)
        waitingmessage.innerHTML = ''
        uploadName.innerHTML = result
      } catch (error) {
        console.error(error)
        uploadName.innerHTML = error
      }
    }
	
	async function uploadEmails(emailsList, listid, accountno) {
      const myHeaders = new Headers()
      myHeaders.append('Content-Type', 'application/json')
      const raw = JSON.stringify({
        emailsList,
        listid,
        accountno,
      })
      const requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow',
      }
      try {
        const response = await fetch(
          'https://campaignerapilists.onrender.com/upload-emails',
          requestOptions
        )
        const result = await response.text()
        console.log(result)
        waitingmessage.innerHTML = ''
        uploadEmail.innerHTML = result
      } catch (error) {
        console.error(error)
        uploadEmail.innerHTML = error
      }
    }

    form.addEventListener('submit', (event) => {
      const checkboxes = document.querySelectorAll('input[type="checkbox"]')
      const accountsarray = []
      waitingmessage.innerHTML = 'Uploading contacts...'
      for (const checkbox of checkboxes) {
        if (checkbox.checked) {
          accountsarray.push(parseInt(checkbox.id))
        }
      }
      event.preventDefault()
      console.log(accountsarray)
      accountsarray.forEach((element) => {
        getData(element)
      })
    })

    const emailCountLabel = document.getElementById('itemnumber')

    fileUpload.addEventListener('change', function () {
      const selectedFiles = fileUpload.files
      if (selectedFiles.length === 0) {
        return
      }
      const emailList = []
      let emailCount = 0

      for (const file of selectedFiles) {
        const reader = new FileReader()
        reader.onload = function (event) {
          const data = event.target.result
          const workbook = XLSX.read(data, { type: 'binary' })
          const sheetName = workbook.SheetNames[0]
          const worksheet = workbook.Sheets[sheetName]
          const jsonData = XLSX.utils.sheet_to_json(worksheet, { header: 1 })
          emailCount += jsonData.length - 1

          workbook.SheetNames.forEach((sheet) => {
            const result = XLSX.utils.sheet_to_json(workbook.Sheets[sheet], {
              raw: false,
            })
            result.forEach((element) => {
              if ('email' in element) {
                listOfEmails.push(element.email)
              } else if ('Email' in element) {
                listOfEmails.push(element.Email)
              } else {
                listOfEmails.push(element.Subscribers)
              }
            })
          })
          console.log(listOfEmails)
		  
		  emailCountLabel.innerHTML = `Total emails: ${emailCount}`
          const formattedEmails = emailList.join('<br>')
        }
        reader.readAsBinaryString(file)
      }
      //emailCountLabel.innerHTML = `Total emails: ${emailCount}`
    })
  </script>
</body>
</html>
